## Exercise 1
#### The df DataFrame is given below. Extract first five rows of the df and convert into the dictionary as shown below.

#### In response, print this dictionary to the console.

In [1]:
import numpy as np
import pandas as pd


np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']

E1 = df.head(5).to_dict()

print(E1)

{'col1': {0: 0.3745401188473625, 1: 0.9507143064099162, 2: 0.7319939418114051, 3: 0.5986584841970366, 4: 0.15601864044243652}, 'col2': {0: -1.0128311203344238, 1: 0.3142473325952739, 2: -0.9080240755212109, 3: -1.4123037013352915, 4: 1.465648768921554}}

#### Notes:
- The to_dict() method is used for converting pandas DataFrames or Series to various dictionary formats.

## Exercise 2
#### The df DataFrame is given below. Extract the first five rows of this object, convert to HTML and assign it to the df_html variable.

#### Print the contents of the df_html variable to the console.

In [4]:
df_html = df.head(5).to_html()

print(df_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.374540</td>
      <td>-1.012831</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.950714</td>
      <td>0.314247</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.731994</td>
      <td>-0.908024</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.598658</td>
      <td>-1.412304</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.156019</td>
      <td>1.465649</td>
    </tr>
  </tbody>
</table>

#### Notes:

- The to_html() method in pandas is used to convert a DataFrame into an HTML table. This method is particularly useful when you need to display a DataFrame on a webpage or in a Jupyter Notebook with HTML rendering.

## Exercise 3
#### The following DataFrame is given:

#### Extract rows of this DataFrame for which the C column is greater than 0.8 and print result to the console.

In [5]:
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

print(df.query('C > 0.8'))

          A         B         C         D
8  0.065052  0.948886  0.965632  0.808397