## Exercise 1
#### The following DataFrame is given:

df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

#### Extract rows of this DataFrame for which the C column is greater than 0.3 and the D column is less than 0.7. Print result to the console.

In [2]:
import numpy as np
import pandas as pd


np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

print(df.query(('C > 0.3 and D < 0.7')))

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
4  0.304242  0.524756  0.431945  0.291229
7  0.592415  0.046450  0.607545  0.170524
9  0.304614  0.097672  0.684233  0.440152

## Exercise 2
#### The following DataFrame is given:

#### Iterate through the first five rows of this object and print each row to the console as shown below.

Tip: Use the pd.DataFrame.iterrows() function.

In [4]:
for index, row in df.head().iterrows():
    print(row)

A    0.374540
B    0.950714
C    0.731994
D    0.598658
Name: 0, dtype: float64
A    0.156019
B    0.155995
C    0.058084
D    0.866176
Name: 1, dtype: float64
A    0.601115
B    0.708073
C    0.020584
D    0.969910
Name: 2, dtype: float64
A    0.832443
B    0.212339
C    0.181825
D    0.183405
Name: 3, dtype: float64
A    0.304242
B    0.524756
C    0.431945
D    0.291229
Name: 4, dtype: float64

#### Notes:

- The .iterrows() method in pandas is used to iterate over the rows of a DataFrame as (index, Series) pairs. This method allows you to loop through each row and access the data, making it useful for row-wise operations.
- 'for index, row in df.iterrows()'

## Exercise 3
#### The following DataFrame is given:
#### Set the value in row with index 3 for column B as np.nan (use df.iloc) and also set the value in the row at index 8 for column D as np.nan (use df.loc).
#### Print DataFrame to the console.

In [6]:
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
print(df)

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443       NaN  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632       NaN
9  0.304614  0.097672  0.684233  0.440152

#### Notes:

- .iloc: Indexes DataFrame rows and columns by integer positions, allowing selection based on numerical indices (e.g., df.iloc[0, 1] selects the first row, second column).

- .loc: Indexes DataFrame rows and columns by labels or boolean conditions, enabling label-based selection (e.g., df.loc['row_label', 'col_label']).