## Exercise 1
#### The following url is given:
#### Using pandas load this file into DataFrame and assign to the df variable. In response, print the first five rows to the console.

In [3]:
import pandas as pd
 
 
URL = (
    'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/'
    'churn_modelling/Telco-Customer-Churn.csv'
)

df = pd.read_csv(URL)

print(df.head(5))

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

#### Notes:

- URL strings are used for accessing and retrieving data from web servers and other online resources.

## Exercise 2
#### The df DataFrame is given below. Calculate the number of missing values for each variable. In response, print result to the console.

In [5]:
print(df.isnull().sum())

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

#### Notes:

- isnull(): Identifies missing values in the DataFrame and returns a DataFrame of the same shape with True (missing) and False (not missing) values.
- sum(): Aggregates the count of missing values for each column.

## Exercise 3
#### The df DataFrame is given below. Please note the TotalCharges column. The type of this column is set to object. Try to guess why this happened.

- Tip: Look at the distribution of this variable.

#### We have a space character in this column. In this case, pandas read the entire column as an object type. As an analyst, we have to deal with such problems.

#### Try to replace this missing values of the TotalCharges column with its median.

#### In response, print distribution of the TotalCharges variable to the console.

In [8]:
# Calculation of the median for the TotalCharges column
median = df['TotalCharges'][df['TotalCharges'] != ' '].median()
 
# Fill the missing values with median
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = median
 
# Convert TotalCharges column to float type
df['TotalCharges'] = df['TotalCharges'].astype('float')
 
print(df['TotalCharges'].value_counts())

1397.475    11
20.200      11
19.750       9
20.050       8
19.900       8
            ..
6849.400     1
692.350      1
130.150      1
3211.900     1
6844.500     1
Name: TotalCharges, Length: 6531, dtype: int64

#### Notes:

- 1) Calculates of the median for the TotalCharges column, using filtering (which returns a boolean series) to exclude any spaces that represent missing or invalid data.
- 2) Replaces any spaces (missing values) in the TotalCharges column with the calculated median.
- 3) The TotalCharges column is converted to a float type for analysis and calculations.
- 4) The value_counts() method is called on the TotalCharges column to display the frequency of unique values. This is useful for understanding the distribution of values in the column.