## Exercise 1
#### The following Series is given (quotations variable):

#### Convert the quotations to the DataFrame and set the column name to 'price'. In response, print this DataFrame to the console.

In [2]:
import pandas as pd

stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

E1 = pd.DataFrame(data = quotations, columns = ['price'])

print(E1)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

#### Notes:

- The pd.DataFrame() constructor in pandas allows you to create a DataFrame with various arguments.
    - data: Input data (e.g., dictionary, list, numpy array).
    - index: Row labels (optional).
    - columns: Column labels (optional).
    - dtype: Data type for the DataFrame (optional).

## Exercise 2
#### Using the numpy and pandas create the following Series:

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

#### In response, print this Series to the console.

In [12]:
import numpy as np
import pandas as pd

Column1_Arr = np.arange(101, 110, 1).reshape(-1,1) ## Using np.arange 2 create arrays of the 2 columns we wish to see.
Column2_Arr = np.arange(10, 100, 10).reshape(-1,1) ## Reshaping both arrays so they're ready for concatenation.

Arr = np.concatenate((Column1_Arr, Column2_Arr), axis = 1) ## Concatenating the arrays.

To_Series = Arr.flatten().tolist() ## Flatten the Array and convert to List to make it ready for the pd.Series.

E2 = pd.Series(data = To_Series, dtype = 'float') 

print(E2)

0     101.0
1      10.0
2     102.0
3      20.0
4     103.0
5      30.0
6     104.0
7      40.0
8     105.0
9      50.0
10    106.0
11     60.0
12    107.0
13     70.0
14    108.0
15     80.0
16    109.0
17     90.0
dtype: float64

#### Notes:

- When creating a Series from a list of lists, each list is treated as a single object, resulting in a dtype of object.
- To ensure float dtype flatten the data to create a single-dimensional Series.
- The more efficient way is:
s = pd.Series(
    data=np.arange(10, 100, 10),
    index=np.arange(101, 110),
    dtype='float',
)

## Exercise 3
#### The following Series is given:

#### Convert its type to int and print this Series to the console.

In [15]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))

series = series.astype(int)

print(series)

a    1
b    2
c    3
d    4
dtype: int32

#### Notes:

- The astype() method in pandas is used to cast a pandas object (such as a Series or DataFrame) to a specified data type.