## Exercise 1
#### The df DataFrame is given below. Check for duplicate rows in this object and print these row/rows.

In [2]:
import pandas as pd


url = (
    'https://storage.googleapis.com/esmartdata-courses-files/'
    'ml-course/insurance.csv'
)
df = pd.read_csv(url)

print(df[df.duplicated()])

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

#### Notes:

- The .duplicated() method in pandas is used to identify duplicate rows in a DataFrame or Series. It returns a Boolean Series indicating whether each row is a duplicate or not. This method is helpful for filtering out or flagging duplicate data.

## Exercise 2
#### The df DataFrame is given below. Remove duplicates from this object.

#### In response, using pd.DataFrame.info() print some information about this DataFrame to the console.

In [3]:
df.drop(df[df.duplicated()].index, inplace=True)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   object
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB
None

#### Notes:

- .index will recieve the index of the duplicate(s) so the drop function can delete the row(s).
- The drop_duplicates() method is the easiest way however, as it is a built-in function that allows you to remove duplicate rows from a DataFrame.

## Exercise 3
#### The df DataFrame is given below. Print to the console only columns with the object type.
Tip: Use the pd.DataFrame.select_dtypes().

In [5]:
print(df.select_dtypes(include = 'object'))

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1337 rows x 3 columns]

#### Notes:

- The select_dtypes() method in pandas is used to select columns in a DataFrame based on their data types. This is particularly useful when you want to perform operations on columns of a specific type.