## Exercise 1
#### Using the given products DataFrame and orders DataFrame:

#### Create the following DataFrame object and assign to the result variable (use product_id key).

#### In response, print a result DataFrame to the console.

In [2]:
import pandas as pd


products_dict = {
    'product_id': ['001', '004', '007', '010'],
    'name': ['mobile phone', 'laptop', 'mouse', 'tablet'],
    'price': [1490.0, 3400.0, 59.99, 999.00]
}

orders_day_1_dict = {
    'order_id': ['1001', '1002', '1003', '1004'],
    'product_id': ['004', '001', '001', '007'],
    'quantity': [2, 1, 1, 3]
}       

orders_day_2_dict = {
    'order_id': ['1005', '1006', '1007'],
    'product_id': ['010', '001', '007'],
    'quantity': [2, 1, 1]
}                

products = pd.DataFrame(products_dict)
orders_day_1 = pd.DataFrame(orders_day_1_dict)
orders_day_2 = pd.DataFrame(orders_day_2_dict)
orders = orders_day_1.append(orders_day_2, ignore_index=True)

result = pd.merge(products, orders, on = 'product_id')

print(result)

  product_id          name    price order_id  quantity
0        001  mobile phone  1490.00     1002         1
1        001  mobile phone  1490.00     1003         1
2        001  mobile phone  1490.00     1006         1
3        004        laptop  3400.00     1001         2
4        007         mouse    59.99     1004         3
5        007         mouse    59.99     1007         1
6        010        tablet   999.00     1005         2

C:\Users\andre\AppData\Local\Temp\ipykernel_68884\1098632988.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  orders = orders_day_1.append(orders_day_2, ignore_index=True)

## Exercise 2:

#### Based on the quantity and price columns, calculate a new column 'total' that stores the total amount for each order as shown below.

#### In response, print a result DataFrame to the console.

In [3]:
result['total'] = result['price']*result['quantity']

print(result)

  product_id          name    price order_id  quantity    total
0        001  mobile phone  1490.00     1002         1  1490.00
1        001  mobile phone  1490.00     1003         1  1490.00
2        001  mobile phone  1490.00     1006         1  1490.00
3        004        laptop  3400.00     1001         2  6800.00
4        007         mouse    59.99     1004         3   179.97
5        007         mouse    59.99     1007         1    59.99
6        010        tablet   999.00     1005         2  1998.00

## Exercise 3:

#### Save this DataFrame to the following files:

- 'result.csv' -> skip index

- 'result.html'

- 'result.json' -> set indent to 4 spaces

In [4]:
result.to_csv('result.csv', index = False)
result.to_html('result.html')
result.to_json('result.json', indent =4)