## Exercise 1
#### The quotations DataFrame is given below:

#### Calculate the percentage of trading sessions for which Amazon and Tesla had the same direction (similarity_flag == 1) and print to the console as shown below.

In [4]:
import pandas as pd

amazon = pd.read_csv('amazon.csv', index_col=0)
tesla = pd.read_csv('tesla.csv', index_col=0)
amazon.columns = ['amzn_' + col.lower() for col in amazon.columns]
tesla.columns = ['tsla_' + col.lower() for col in tesla.columns]
result = pd.concat([amazon, tesla], axis=1)
quotations = result[
    ['amzn_open', 'amzn_close', 'tsla_open', 'tsla_close']
].copy()
quotations['amzn_change'] = (
    quotations['amzn_close'] / quotations['amzn_open'] - 1
) * 100
quotations['tsla_change'] = (
    quotations['tsla_close'] / quotations['tsla_open'] - 1
) * 100
quotations['similarity_flag'] = (
    quotations['amzn_change'] * quotations['tsla_change'] > 0
) * 1

result = quotations['similarity_flag'].sum() / len(quotations)
print(f'{result * 100:.2f}%')

55.00%

#### Notes:

- The code calculates the ratio of rows where the similarity_flag is 1 by summing the similarity_flag column and dividing by the total number of rows (len(quotations)).
- The f'{} syntax is used in Python for f-strings, which allow you to embed expressions directly within string literals. In this case it expresses the result * 100 to two decimal places, giving you a %.

## Exercise 2
#### Using these dictionaries create three DataFrame objects with the following names:

- products

- orders_day_1

- orders_day_2

#### Then print these objects to the console as shown below.

In [5]:
products_dict = {
    'product_id': ['001', '004', '007', '010'],
    'name': ['mobile phone', 'laptop', 'mouse', 'tablet'],
    'price': [1490.0, 3400.0, 59.99, 999.00]
}
 
orders_day_1_dict = {
    'order_id': ['1001', '1002', '1003', '1004'],
    'product_id': ['004', '001', '001', '007'],
    'quantity': [2, 1, 1, 3]
}       
 
orders_day_2_dict = {
    'order_id': ['1005', '1006', '1007'],
    'product_id': ['010', '001', '007'],
    'quantity': [2, 1, 1]
}  

products = pd.DataFrame(products_dict)
orders_day_1 = pd.DataFrame(orders_day_1_dict)
orders_day_2 = pd.DataFrame(orders_day_2_dict)

print(products)
print(orders_day_1)
print(orders_day_2)

  product_id          name    price
0        001  mobile phone  1490.00
1        004        laptop  3400.00
2        007         mouse    59.99
3        010        tablet   999.00
  order_id product_id  quantity
0     1001        004         2
1     1002        001         1
2     1003        001         1
3     1004        007         3
  order_id product_id  quantity
0     1005        010         2
1     1006        001         1
2     1007        007         1

## Exercise 3

#### Combine orders_day_1 DataFrame with orders_day_2 DataFrame: and assign to the orders variable. Make sure the new DataFrame is indexed correctly.

#### In response, print the orders DataFrame to the console.

In [9]:
orders = pd.concat([orders_day_1, orders_day_2], ignore_index=True)

print(orders)

  order_id product_id  quantity
0     1001        004         2
1     1002        001         1
2     1003        001         1
3     1004        007         3
4     1005        010         2
5     1006        001         1
6     1007        007         1