## Exercise 1:
#### Using the pivot tables prepare the following DataFrame:

#### Average value of the tip and total_bill columns broken down into days.

#### In response, print result to the console.
Tip: Use the pd.pivot_table() function.

In [6]:
import pandas as pd
import numpy as np


tips = pd.read_csv(
    'https://raw.githubusercontent.com/mwaskom/'
    'seaborn-data/master/tips.csv'
)

## print(tips.info())

result = pd.pivot_table(tips, values=['tip', 'total_bill'], index='day', columns=None, aggfunc='mean')

print(result)

           tip  total_bill
day
Fri   2.734737   17.151579
Sat   2.993103   20.441379
Sun   3.255132   21.410000
Thur  2.771452   17.682742

#### Notes:

- The pd.pivot_table() allows you to create a pivot table, which is a table that summarizes data from a larger data set by grouping it by one or more keys and then applying an aggregation function to the grouped data.
- Args:
    - data: The DataFrame to use for creating the pivot table.
    - values: The column(s) to aggregate. If not specified, all numerical columns will be aggregated.
    - index: The column(s) to group by on the rows.
    - columns: The column(s) to group by on the columns.
    - aggfunc: The aggregation function to apply, such as 'mean', 'sum', 'count', etc. Default is 'mean'.

## Exercise 2:
#### Average value of the tip and total_bill columns broken down into days and gender.

#### In response, print result to the console.

In [7]:
result2 = pd.pivot_table(tips, values=['tip', 'total_bill'], index=['day', 'sex'], columns=None, aggfunc='mean')

print(result2)

                  tip  total_bill
day  sex
Fri  Female  2.781111   14.145556
     Male    2.693000   19.857000
Sat  Female  2.801786   19.680357
     Male    3.083898   20.802542
Sun  Female  3.367222   19.872222
     Male    3.220345   21.887241
Thur Female  2.575625   16.715312
     Male    2.980333   18.714667

## Exercise 3:

#### Maximum value of the tip and total_bill columns broken down into days.

#### In response, print result to the console.

In [8]:
result3 = pd.pivot_table(tips, values=['tip', 'total_bill'], index='day', columns=None, aggfunc='max')

print(result3)

        tip  total_bill
day
Fri    4.73       40.17
Sat   10.00       50.81
Sun    6.50       48.17
Thur   6.70       43.11

## Exercise 4:

#### Average value of the tip and total_bill columns broken down into days, gender and smoker / non-smoker.

#### In response, print result to the console.

In [10]:
result4 = pd.pivot_table(tips, values=['tip', 'total_bill'], index=['day', 'sex', 'smoker'], columns=None, aggfunc='mean')

print(result4)

                         tip  total_bill
day  sex    smoker
Fri  Female No      3.125000   19.365000
            Yes     2.682857   12.654286
     Male   No      2.500000   17.475000
            Yes     2.741250   20.452500
Sat  Female No      2.724615   19.003846
            Yes     2.868667   20.266667
     Male   No      3.256563   19.929063
            Yes     2.879259   21.837778
Sun  Female No      3.329286   20.824286
            Yes     3.500000   16.540000
     Male   No      3.115349   20.403256
            Yes     3.521333   26.141333
Thur Female No      2.459600   16.014400
            Yes     2.990000   19.218571
     Male   No      2.941500   18.486500
            Yes     3.058000   19.171000