## Exercise 1
#### The df DataFrame is given below. Convert following columns:

- size -> category

- color -> category

- gender -> category

- weight -> float

- bought -> category

#### In response, print basic information about this DataFrame to the console.

In [9]:
import pandas as pd


data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

df = pd.DataFrame(data)

## Iterating over a list of the columns to change to category type
for col in list(df[['size', 'color', 'gender', 'bought']].columns):
    df[col] = df[col].astype('category')

## Setting the sole column to change to float type.
df['weight'].astype('float64')

#print
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      category
dtypes: category(4), float64(1), int64(1)
memory usage: 740.0 bytes
None

## Exercise 2
#### The df DataFrame is given below. Using the pd.get_dummies() function, transform all categorical variables to 0-1 encoding as shown below and print result to the console.

In [14]:

print(pd.get_dummies(df))

   price  weight  size_L  size_M  size_XL  color_blue  color_green  color_red  \
0  199.0     500       0       0        1           0            0          1
1   89.0     450       1       0        0           0            1          0
2   99.0     300       0       1        0           1            0          0
3  129.0     380       1       0        0           0            1          0
4   79.0     410       0       1        0           0            0          1

   gender_female  gender_male  bought_no  bought_yes
0              1            0          0           1
1              0            1          1           0
2              0            1          0           1
3              1            0          1           0
4              1            0          0           1

## Exercise 3
#### The df DataFrame is given below. Using the get_dummies() function, transform all categorical variables to 0-1 encoding as shown below. Use the drop_first=True argument.

#### In response, print result to the console.

In [13]:
print(pd.get_dummies(df, drop_first = True))

   price  weight  size_M  size_XL  color_green  color_red  gender_male  \
0  199.0     500       0        1            0          1            0
1   89.0     450       0        0            1          0            1
2   99.0     300       1        0            0          0            1
3  129.0     380       0        0            1          0            0
4   79.0     410       1        0            0          1            0

   bought_yes
0           1
1           0
2           1
3           0
4           1